.commitment{
 
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 85px;
        margin-bottom: 256px;
        
    }
    &__img{
        width: 445px;
        height: 520px;
        border-radius: 8px;
        
    }
    &__box{
        width: 540px;

    }
    &__heading{
        font-family: 'Fraunces',Arial,sans-serif ;
        margin: 0;
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #333D4B; 
    }
    &__text{
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;  
        color: #333D4B;
        opacity: 0.8;
        width: 540px;
    }
    
}
