.collection{
    margin-bottom: 201px;
}

.collection__container {
    padding-top: 142px;
    background-image: url("./../images/orqa-fon.png");
    background-repeat: no-repeat;
    background-position:top center ;
    
}
.collection__list {
    
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.collection__item {
    text-align: center;
    width: 255px;
    margin: 0 15px;
}
.collection__img {
    width: 255px;
    height: 193px;
    margin-bottom: 58px;
}
.collection__heading {
    
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 28px;
}
.collection__text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}