.header{
    margin-bottom: 44px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-img {
    width: 236px;
    height: 26px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-left: 33px;
    
}

.header__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}
.header__burger{
    display: none;
}
@media only screen and (max-width: 700px) {
    .header {
        
        &__container {
        }
        
        &__list {
            display: none;
            
        }
        
        &__item {
        }
        
        &__link {
        }
        
        &__burger {
            display:block;
        }
        &__burger--img{
            width: 16px;
            height: 15px;
        }
    }
    .logo-img{
        width: 163px;
        height: 18px;
    }
    
}