.hero__container {
    
    height: 600px;
    border-radius: 10px;
    margin-bottom: 167px;
}

.hero__box{
    background-image: url("./../images/Bitmap.jpg");background-repeat: no-repeat;
    background-position: calc(50%) center;
    padding: 117px 702px 116px 85px;
}

.hero__heading {
    font-family: 'Fraunces',Arial,sans-serif ;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    width: 493px;
    height: 145px;
    margin-bottom: 32px;
    color: #FEFCF7;
}

.hero__text {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    width: 445px;
    height: 78px;
    margin-bottom: 56px;
    color: #FEFCF7;
    opacity: 0.8;
}

.button {
    display: inline-block;
    font-family: 'Fraunces',Arial,sans-serif ;
    margin: 0;
    width: 217px;
    height: 56px;
    padding: 15px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
}
@media only screen and(max-with:1000px) {
    .hero {
        
        &__container {
            min-width: 1000px;
            width: 100%;
            margin-bottom: 145px;
            
        }
        
        &__box {
            padding: 117px 0 116px 85px;
        }
        
        &__heading {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
        }
        
        &__text {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 40px;
        }
        
        &__button {
            font-size: 18px;
            line-height: 25px;
        }
    }
    
}