.plan-hero {
    
    &__container {
        padding: 134px 710px 134px 85px;    
        background-image: url(./../images/plan-bcg-img@1.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 177px;
    }
    
    &__wrapper {   
        width: 445px;
       
    }
    
    &__heading {
        margin: 0;
        margin-bottom: 32px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }
    
    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
    }
}
